@model UserModel
@{
    Layout = "_userLayout";
    ViewData["Title"] = "Lital";
}

<h1>HI, I'M LITAL</h1>

<div class="">
    <br />
    <h3>About me</h3>
    <p>
        I am a full-time student who is passionate about software development.
        I'm originally from Israel, where I was born and raised, and I have been in the United States for 10 years now.
    </p>

    <p>I am a Computing and Information Sciences major with a concentration in Information Science and a minor in Digital Marketing at the University of North Florida (UNF).</p>
    <br />
    <h3>Education</h3>
    <p>
        Upon graduation, I hope to become a software developer. I still don't know which field or industry I would like to work in, so I am open to different opportunities.
        I have graduated from high school back in Israel, and I attended the Florida State College at Jacksonville (FSCJ), where I obtained both my A.S. and my A.A.
        I am currently enrolled at the University of North Florida (UNF).
    </p>
    <p>
        Diplomas, Degrees, and Certificates earned / in progress:
        <ul>
            <li>Bachelor of Science in Computing and Information Sciences Program (Expected Graduation: 2021)</li>
            <li>Associate of Arts (2019)</li>
            <li>Associate of Science in Computer Information Technology (2018)</li>
            <li>Computer Programming Specialist Certificate (2017)</li>
            <li>Information Technology Support Specialist Certificate (2017)</li>
            <li>High School Diploma</li>
        </ul>
    </p>
</div>