@model UserModel
@{
    Layout = "_userLayout";
    ViewData["Title"] = "Lital";
}

<h1>Lital</h1>

<div class="text-center">
    All you need to do is go to your section in the code (Views/Users/) and build yourself a little bio page.
    <br />
    Add as much as you want it is up to you. (Font-awesome is in all my builds so help yourself if you want)
    <br />
    When done make sure your part loads and push it with the proper comments.
    <br />
    Have Fun!!
</div>