@model UserModel
@{
    Layout = "_userLayout";
    ViewData["Title"] = "Mervens";
}

<h1>Mervens</h1>

<div class="text-center">
    All you need to do is go to your section in the code (Views/Users/) and build yourself a little bio page.
    <br />
    Add as much as you want it is up to you. (Font-awesome is in all my builds so help yourself if you want)
    <br />
    When done make sure your part loads and push it with the proper comments.
    <br />
    Have Fun!!
    <hr>
    <hl>
        <h2 class="aboutme">About Me</h2>
        <p>My name is Mervens Val. I am about to be a senior at UNF starting this Fall semester.</p>
        <p>I was born in Haiti and moved to South Florida when I was around 6 years old. </p>
        <p> I now hope to spend the next few years of my life in Jacksonville, where I hope to start my carrer.</p>
            Wikipedia link about Haiti<a />
            </section>
            <section>
                <h2 class="hobbiesandinterest">Hobbies & Interests</h2>
                <p>My favorite hobbie is playing basketball. I try to play at least once a week, It's my favorite sport.</p>
                <a class="basketballlink" href="https://en.wikipedia.org/wiki/Basketball" target="_blank">Wikipedia link about Basketball</a>
                <p> I also love going to the beach and nature parks, especially some of the nature parks in Jacksonville.</p>
                <img src="images/beachpic.jpeg" alt="Beach Picture" height="200" width="200">
            </section>
            <section>
                <h2 class="education">Education</h2>
                <p> My goal is to obtain my Bachelors degree from UNF and eventually to become a software developer</p>
                <ul>
                    <li class="certificate">I eventually want to earn my <span>Project Management Professional (PMP) Certification</span></li>
                    <li class="collegedegree">Currently Pursuing a <span> Bachelors Degree in Information Science</span> at UNF</li>
                    <li class="collegedegree">Recieved <span>Associates of Arts Degree</span> from Broward College</li>
                    <li class="hsdiploma">Recieved <span>High School diploma </span>from Coral Springs High School</li>
                </ul>

</div>